extends ../../layouts/main

block body
	.container.desktop_only
		.jumbotron
			h1 twenny.me shares your location
			p It is intended for use on mobile devices. Try visiting http://twenny.me on your mobile phone!

	.container.mobile_only
		.welcome
			h1 twenny.me
			p Twenny helps you share your location. Click the button below to get started.
			.button.share_location Share my location
