@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: $break-second) {
	//font-size: 40px;
	
}

@media screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width: $break-second) {
	font-size: 32px;
	line-height: 1.4;

	h1 {
		font-size: 90px;		
	}

	.container.intro {
		padding-top: 100px;
	}

	.welcome {
		padding: 60px 30px 60px 30px;
		max-width: 86%;

		h1 {
			margin-bottom: 45px;
		}
		p {
			font-family: Arial;
		}
		.sharebutton_holder {
			text-align: center;
		}
		.share_location {
			margin-top: 50px;
			font-size: 42px;
			font-weight: 400;
			padding: 30px 45px;
		}
	}
}

@media screen and (max-device-width: $break-second) and (orientation : landscape) {
	.mobile_only, .desktop_only {
		display: none !important;
	}
	.nolandscape {
		display: block;
		padding-top: 4%;

		span {
			display: block;
			text-align: center;

			&.sorry {
				font-size: 3em;
				font-weight: 700;
			}
			&.explanation {
				padding-top: 0.8em;
				font-weight: 400;
				font-size: 1.0em;
			}
		}
	}
}