$break-second: 768px;

$link-hover-color: #39F;
$link-color: #2c529d;

$common-color-1: #151515;
$common-color-2: #272727;
$body-copy-color: #333332;

@import 'mixins';

@mixin bodyfont {
	font-family: 'Open Sans' !important;
	font-style: normal;
	font-weight: 400;
}
@mixin basic-transition($property) {
	-webkit-transition: $property;
	-moz-transition: $property;
	-o-transition: $property;
	transition: $property;

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
@mixin border-box {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
*, *:before, *:after {
	@include border-box;
}

.desktop_only {
	display: none;
}
.mobile_only {
	display: none;
}
.nolandscape {
	display: none;
}

html {
	width: 100%;
	height: 100%;
}
body {
	@include bodyfont;
	color: $body-copy-color;

	@import 'responsive';
}
h3 {
	
}
h4 {
	
}
a {
	text-decoration: none;
	color: $link-color;
	&:hover {
		color: $link-hover-color;
	}
}
b {
	font-weight: 600;
}
i {
	font-style: italic;
}


.desktop {
	font-size: 22px;
	line-height: 1.4;
	
	.desktop_only {
		display: block;
	}

	h1 {
		font-size: 40px;
		font-weight: 700;
	}

	.jumbotron {
		width: 700px;
		margin: 0 auto;
		margin-top: 45px;
		background: #F9F9F9;
		padding: 45px 30px;

		h1 {
			text-align: center;
			margin-bottom: 35px;
		}
		p {

		}
	}
}

.mobile {

	.mobile_only {
		display: block;
	}

	.supercontainer {
		padding-left: 15px;
		padding-right: 15px;
	}

	h1 {
		
	}

	.welcome {
		margin: 0 auto;
		background-color: #F5F5F5;
		@include border-radius(4px);

		h1 {
			text-align: center;
		}
	}


}

.button {
	cursor: pointer;
	background: grey;
	color: #fff;
	padding: 15px 35px;
	display: inline-block;
	@include border-radius(10px);
	@include basic-transition( opacity 0.150s );

	&:hover {
		opacity: 0.88;		
	}

	&.approve, &.ok {
		background-color: rgb(0, 109, 204);
		background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
		&:active {
			background-image: linear-gradient(rgb(0, 68, 204), rgb(0, 136, 204));
		}
	}
	&.delete {
		background-color: rgb(54, 54, 54);
		background-image: linear-gradient(rgb(68, 68, 68), rgb(34, 34, 34));
		&:active {
			background-image: linear-gradient(rgb(34, 34, 34), rgb(68, 68, 68));
		}
	}
	&.disapprove {
		background-color: rgb(250, 167, 50);
		background-image: linear-gradient(rgb(251, 180, 80), rgb(248, 148, 6));
		&:active {
			background-image: linear-gradient(rgb(248, 148, 6), rgb(251, 180, 80));
		}
	}
}


.console {
	padding-top: 25px;
}